<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染指令</title>
</head>
<body>
    <h2>条件渲染指令</h2>
    <!-- vue可以控制下面这个div，将数据填充到div内部 -->
    <div id="app">
        <h3>v-if实现的原理：每次动态地创建或移除元素，实现元素的显示或隐藏</h3>
        <p v-if="flag">这是v-if控制的指令</p>
        <h3>v-show实现的原理：动态地为元素添加或移除display:none 样式，来实现元素的显示或隐藏</h3>
        <p v-show="flag">这是v-show控制的指令</p>
        <hr>
        <h3>v-else-if必须与v-if搭配应用，否则不被识别</h3>
        <div v-if="type==='A'">优秀</div>
        <div v-else-if="type==='B'">良好</div>
        <div v-else-if="type==='C'">一般</div>
        <div v-else>差劲</div>
    </div>

    <!-- 导入vue的库文件，则在window全局就有了vue这个构造函数 -->
    <script src="./lib/vue-2.6.12.js"></script>
    <script>
        // 创建vue的实例对象
        const vm = new Vue( {
            // el属性是固定的写法，表示vue将对页面上的哪个元素进行控制，接收到的值是一个选择器
            el:'#app',      // --------View视图---------
            // data对象是要渲染到页面上的数据  -------Model数据源--------
            data: {
                flag:true,
                type:'A'
            }

        })         // ---------ViewModel整个vm实例对象----------

        //vue调试工具里，左侧的root根节点指向el这个元素，点击root，右侧显示数据源，修改数据源data，el区域的数据会重新渲染
        //验证-------数据驱动视图--------这一特点
    </script>
</body>
</html>