<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染指令</title>
    <link rel="stylesheet" href="./lib/bootstrap.css">
</head>
<body>
    <h2 style="text-align: center;">列表渲染指令</h2>
    <!-- vue可以控制下面这个div，将数据填充到div内部 -->
    <div id="app">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <th>索引</th>
                <th>ID</th>
                <th>姓名</th>
                <th>就业方向</th>
                <th>任职</th>
            </thead>
            <tbody>
                <tr v-for="(item,index) in list" :key="item.id">
                    <td>{{ index }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.subject }}</td>
                    <td>{{ item.offer }}</td>
                </tr>
            </tbody>
        </table>
        <p>官方建议：只要用到了v-for指令，那么一定要绑定一个key属性，而且尽量把id作为key的值</p>
        <hr>
        <p>若用index作为key值，复选框选中时再添加对象，索引号会改变，选中的值也会随之改变，所以index值不能作为key值</p>
        <input type="text" v-model="uname"> <button @click="addUser">添加</button>
        <ul>
            <li v-for="item in list" :key="item.id">
                <input type="checkbox" name="" id="">用户名{{ item.name }}
            </li>
        </ul>
    </div>

    <!-- 导入vue的库文件，则在window全局就有了vue这个构造函数 -->
    <script src="./lib/vue-2.6.12.js"></script>
    <script>
        // 创建vue的实例对象
        const vm = new Vue( {
            // el属性是固定的写法，表示vue将对页面上的哪个元素进行控制，接收到的值是一个选择器
            el:'#app',      // --------View视图---------
            // data对象是要渲染到页面上的数据  -------Model数据源--------
            data: {
                list: [ {
                    id:1001,
                    name:'Lanky',
                    subject:'web前端',
                    offer:'待业'
                }, {
                    id:1002,
                    name:'ilanky',
                    subject:'后端开发',
                    offer:'网易实习生'
                }, {
                    id:1003,
                    name:'张三',
                    subject:'法律',
                    offer:'监狱常驻人员'
                }],
                uname:'',
                nextId:1004
            },
           
            methods: {
                addUser() {
                   this.list.unshift({id:this.nextId, name:this.uname});
                   this.nextId++;
                   this.uname='';
                }
            }

        })         // ---------ViewModel整个vm实例对象----------

        //vue调试工具里，左侧的root根节点指向el这个元素，点击root，右侧显示数据源，修改数据源data，el区域的数据会重新渲染
        //验证-------数据驱动视图--------这一特点
    </script>
</body>
</html>